# Directories to exclude
**/.spyproject/
**/__pycache__/
**/lightning_logs/
**/.idea/
**/.ipynb_checkpoints/
**/saved-models/
**/logs/

# Hidden files to exclude
.vscode

# File extensions to exclude
*.ckpt
*.swp
*.orig
